<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{title}}!
    </h1>

    <button type="button" (click)="changeProperties()">
        Change Properties
    </button>

    <button type="button" (click)="changeObjects()">
        ChangeObjects
    </button>

    <h2>Clicked {{ clickedRoom }}</h2>

    <hr/>

    <cc-room *ngFor="let room of rooms" [room]="room" (roomClick)="onRoomClick($event)"></cc-room>
    <!-- <cc-room *ngFor="let room of rooms" [room]="room" (roomClick)="onRoomClick($event)" [roomTitle]="roomTitle"></cc-room>  -->
</div>