<div>
    <h1>{{ roomNumber }}</h1>
    <h1>{{ room.Name }}</h1>
    <!-- <h1>{{ roomTitle }}</h1> -->
    <input type="text" [value]="room.Name" (input)="room.Name = $event.target.value" />

    <button type="button" (click)="onClick()">
        Room Click
    </button>

    <hr/>
</div>